@use "./line.scss" as line;

contextmenu-menu {
  display: block;
  position: fixed;
  overflow: auto;
  background-color: var(--contextmenu-background);
  box-sizing: border-box;
  min-width: line.$menuMinWidth;
  max-width: min(line.$menuMaxWidth, 100%);
  width: max-content;
  max-height: 100%;
  border-radius: 0.5rem;
  padding: line.$padding;
  border: line.$borderWidth solid var(--contextmenu-border);
  box-shadow: 0px 0px 10px 3px var(--contextmenu-border);
  outline: none;
  overscroll-behavior: contain;
  z-index: 2;
  touch-action: none;
  pointer-events: all;

  &.fullscreen-x {
    border-radius: 0;
    border: none;
    left: 0 !important;
  }

  &.fullscreen-y {
    touch-action: pan-y;
    border-radius: 0;
    border: none;
    top: 0 !important;
  }

  &.closer > :first-child {
    position: sticky;
    top: 0;
    background-color: var(--contextmenu-background);
    z-index: 1;
    outline: 1px solid var(--contextmenu-border);
  }
}
