@use "./line.scss" as line;

contextmenu-submenu {
  @include line.line;

  .chevron {
    padding-block: 0.1rem;

    .touch & {
      font-size: 1.1rem;
      padding-block: 0.2rem;
    }

    > svg {
      display: block;
      box-sizing: border-box;
      height: 100%;
      width: 1.8rem;

      .touch & {
        width: 2.6rem;
      }
    }
  }
}
